@font-face{font-family:'Nanobots Nunito';font-style:normal;font-weight:400 700;font-display:swap;src:url('./nunito-regular.ttf') format('truetype')}
@font-face{font-family:'Nanobots Nunito';font-style:normal;font-weight:800 1000;font-display:swap;src:url('./nunito-black.ttf') format('truetype')}
